
a {
  text-decoration: none;
  color: black;
  cursor: pointer
}


/*
* -- LAYOUT STYLES --
* This layout consists of three main elements, `#nav` (navigation bar), `#list` (blog list), and `#main` (blog content). All 3 elements are within `#layout`
*/
#layout,
#nav,
#list,
#main {
  margin: 0;
  padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
  width: 100%;
  height: 40px;
  position: relative;
  background: rgb(37, 42, 58);
  text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
  display: block;
  top: 0.5em;
  right: 0.5em;
  position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
  height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
  display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
  display: block;
  padding: 2em 0;
}

/*
* -- NAV BAR STYLES --
* Styling the default .pure-menu to look a little more unique.
*/
#nav .pure-menu {
  background: transparent;
  border: none;
  text-align: left;
}
#nav .pure-menu-link:hover,
#nav .pure-menu-link:focus {
  background: rgb(55, 60, 90);
}
#nav .pure-menu-link {
  color: #fff;
  margin-left: 0.5em;
}
#nav .pure-menu-heading {
  border-bottom: none;
  font-size: 110%;
  color: rgb(75, 113, 151);
}

/*
* -- blog STYLES --
* Styles relevant to the blog messages, labels, counts, and more.
*/
.blog-count {
  color: rgb(75, 113, 151);
}

.blog-label-personal,
.blog-label-work,
.blog-label-travel {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 3px;
}
.blog-label-personal {
  background: #ffc94c;
}
.blog-label-work {
  background: #41ccb4;
}
.blog-label-travel {
  background: #40c365;
}

/* blog Item Styles */
.blog-item {
  padding: 0.9em 1em;
  border-bottom: 1px solid #ddd;
  border-left: 6px solid transparent;
}
.blog-avatar {
  border-radius: 3px;
  margin-right: 0.5em;
}
.blog-name,
.blog-subject {
  margin: 0;
}
.blog-name {
  text-transform: uppercase;
  color: #999;
}
.blog-desc {
  font-size: 80%;
  margin: 0.4em 0;
}

.blog-item-selected {
  background: #d3efe1;
}
.cat-item-selected {
  background: #285d53;
}


.blog-item-unread {
  border-left: 6px solid #1b98f8;
}

/* blog Content Styles */
.blog-content-header,
.blog-content-body,
.blog-content-footer {
  padding: 1em 2em;
  padding-top: 0px;
}
.blog-content-header {
  border-bottom: 1px solid #ddd;
}
.blog-content-body {
  margin: 20px;
  color: rgb(37, 42, 58);
  line-height: 25px;
}

.blog-content-body img {
  width: 100%;
}
.blog-content-body div {
  margin-bottom: 20px;
}
.blog-content-body iframe {
  width: 850px;
  height: 500px;
}
.blog-content-title {
  margin: 0.5em 0 4px;
}
.blog-content-subtitle {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}
.blog-content-subtitle span {
  color: #999;
}
.blog-content-controls {
  margin-top: 2em;
  text-align: right;
}
.blog-content-controls .secondary-button {
  margin-bottom: 0.3em;
}

.blog-avatar {
  width: 40px;
  height: 40px;
}

/*
* -- TABLET (AND UP) MEDIA QUERIES --
* On tablets and other medium-sized devices, we want to customize some
* of the mobile styles.
*/
@media (min-width: 40em) {
  /* Move the layout over so we can fit the nav + list in on the left */
  #layout {
    padding-left: 500px; /* "left col (nav + list)" width */
    position: relative;
  }

  /* These are position:fixed; elements that will be in the left 500px of the screen */
  #nav,
  #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
  #nav {
    margin-left: -500px; /* "left col (nav + list)" width */
    width: 227px;
    height: 100%;
  }

  /* Show the menu items on the larger screen */
  .nav-inner {
    display: block;
  }

  /* Hide the "Menu" button on larger screens */
  #nav .nav-menu-button {
    display: none;
  }

  #list {
    margin-left: -274px;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #ddd;
  }

  #main {
    position: fixed;
    top: 33%;
    right: 0;
    bottom: 0;
    left: 150px;
    overflow: auto;
    width: auto; /* so that it's not 100% */
  }
}

/*
* -- DESKTOP (AND UP) MEDIA QUERIES --
* On desktops and other large-sized devices, we want to customize some
* of the mobile styles.
*/
@media (min-width: 60em) {
  /* This will take up the entire height, and be a little thinner */
  #list {
    margin-left: -273px;
    width: 283px;
    height: 100%;
    border-right: 1px solid #ddd;
  }

  /* This will now take up it's own column, so don't need position: fixed; */
  #main {
    position: static;
    margin: 0;
    padding: 0;
  }
}


.brand {
  border-radius: 50%;
  text-align: center;
  display: block;
  color: #fff;
}
.brandme{
  color: white;;
}
.brand-cont {
  margin-left: 20px;
}

pre {
    position: relative;
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
    overflow: auto hidden;
    white-space: pre;
    word-break:keep-all;
    overflow-wrap:break-word;
    font-family: Menlo, monospace;
    color: rgb(214, 222, 235);
    background-color: rgb(1, 22, 39);
    font-size: 14px;
    margin-bottom: 32px;
    margin-top: 32px;
    border-radius: 10px;
}
